
{% block content %}
    <h1>Скидання паролю</h1>
    {% if validlink %}
        <p>Будь ласка, введіть новий пароль двічі:</p>
        <form action="." method="post">
            {{ form.as_p }}
            {% csrf_token %}
            <p><input type="submit" value="Змінити мій пароль"/></p>
        </form>
    {% else %}
        <p>Посилання для скидання пароля є недійсним, можливо, через те, що воно вже було використано. Запросіть нове посилання для скидання пароля.</p>
    {% endif %}
{% endblock %}