{% load i18n %}

{% block title %}{% trans "Вхід" %}{% endblock %}

{% block content %}
    {% if new_user %}
        {% trans "Раді вас вітати" as welcome_text %}
        <h1>{{ welcome_text }} {{ new_user.first_name }}!</h1>
    {% else %}
        <h1>{% trans "Вхід" %}</h1>
    {% endif %}

    <p>
        {% trans "Будь ласка, використовуйте форму нижче для входу. Якщо у вас ще немає акаунту," %}
        <a href="{% url 'register' %}">{% trans "зареєструйтесь тут" %}</a>
    </p>

    <form action="." method="post">
        {{ form.as_p }}
        {% csrf_token %}
        <p>
            <input type="submit" value="{% trans 'Увійти' %}">
        </p>
    </form>
{% endblock %}
