body {
    width: 960px;
    margin: 0 auto;
    font-family: 'pt sans', sans-serif; 
}

.content {
    position: relative; top: 0; left: 0;
    z-index: 1;
}


nav {
    position: relative;
    background-color: #fff;
    padding: 10px;
}

.toggle {
    display: none;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 2;
}

.toggle span {
    display: block;
    width: 30px;
    height: 4px;
    margin: 6px auto;
    background-color: #000;
}

.navigation-bar {
    display: flex;
    justify-content: flex-end;
}

.navigation-bar ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.navigation-bar li {
    margin: 0 20px;
    position: relative;
}

.navigation-bar li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    padding: 10px;
    position: relative;
}

.navigation-bar li.active a {
    color: #652200;
}

.navigation-bar li .underline {
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #652200;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.3s ease-out;
}

.navigation-bar li.active .underline {
    transform: scaleX(1);
    transform-origin: bottom left;
}
@media screen and (max-width: 768px) {
    .toggle {
        display: block;
    }

    .navigation-bar {
        display: none;
        width: 100%;
        background-color: #fff;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        padding: 20px;
        flex-direction: column;
        justify-content: flex-start;
    }

    .navigation-bar.show {
        display: flex;
    }

    .navigation-bar ul {
        flex-direction: column;
        margin-top: 50px;
    }

    .navigation-bar li {
        margin: 15px 0;
    }
}
ul.library {
    margin: 0;
    padding: 0 0 10px 0;
    list-style-type: none;
    overflow: hidden;
}

li.book {
    position: relative; top: 0; left: 0;
    margin: 0;
    padding: 10px;
    float: left;
    width: 140px; height: 224px;
    cursor: pointer;
}
li.book.selected{ z-index: 4;}


.book:hover { background-color: #E5E5E5; }
.book:active { background-color: #D9D9D9; }
.book.selected:hover, li.book.selected:active { background-color: transparent;} 

.book .cover {
    cursor: pointer;
    width: 140px; height:224px;
    box-shadow: 3px 3px 5px rgba(0,0,0,.3);
    filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius=3,MakeShadow=true,ShadowOpacity=0.30);
    zoom: 1;
}

.book .cover img {
    background-color: #e5e5e5;
    width: 140px; height: 224px;
    border-width: 0px; 
    border-style: solid; 
    border-color: #FFFFFF; 
}


.book.selected .cover { position: absolute; top: 10px; }

.book.selected.left-side.first .cover, .book.selected.right-side .cover { left: 10px; right: auto;}
.book.selected.right-side.last .cover , .book.selected.left-side .cover { left: auto; right: 10px;}


li.book .summary {
    display: none;
    cursor: default;
    position: absolute; top: 10px;
    z-index: 4;
    padding: 10px;
    width: 450px; height: 0px;
    overflow: hidden;
}

.summary h1, .summary h2, .summary p { cursor: text;}

.summary h1 {
    font-size: 36px;
    line-height: 42px;
    margin: 0 0 4px 0; padding: 0;
}

.summary h2 {
    font-weight: normal;
    font-style: italic;
    font-size: 24px;
    margin: 0 0 12px 0;
    padding: 0 0 12px 0;
    border-bottom: 2px dotted #999999;
}

.summary p {
    font-size: 18px;
    line-height: 24px;
    margin: 0; padding: 0;
}

.left-side .summary { left: 160px; border-right: 10px solid #D9D9D9; }
.left-side.first .summary { left: 320px; }

.right-side .summary { left: -480px; border-left: 10px solid #D9D9D9; }
.right-side.last .summary { left: -640px; }

.overlay-page {
    display: none;
    position: absolute; top: 0; left: 0; right: 0; bottom: 0;
    background-color: #FFFFFF;
    opacity: .7;
    filter: alpha(opacity = 70);
    z-index: 2;
}

.overlay-summary {
    display: none;
    position: absolute; top: 0; left: 0; height: 0px; width: 480px;
    background-color: #E5E5E5;
    opacity: .9;
    filter: alpha(opacity = 90);
    z-index: 3;
}