body {
    font-family: Arial, sans-serif;
    background-color: #ffd698;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

header {
    background-color: #9b3e00;
    color: white;
    padding: 10px 20px;
    margin-bottom: 20px;
    border-radius: 8px;
}

header h1 {
    margin: 0;
}

.create-thread-btn {
    color: white;
    text-decoration: none;
    background-color: #523113;
    padding: 10px 15px;
    border-radius: 5px;
}

.thread-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

.thread-card {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.thread-card h2 {
    font-size: 1.2rem;
    margin: 0;
}

.thread-card p {
    font-size: 0.9rem;
    color: #555;
}

.comments-section {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    border: 1px solid #ddd;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.comments-list {
    list-style-type: none;
    padding: 0;
}

.comment {
    margin-bottom: 15px;
    padding: 10px;
    background-color: #f8f8f8;
    border-radius: 5px;
}

.comment p {
    margin: 5px 0;
}

.comment-form {
    margin-top: 20px;
}

.comment-form textarea {
    width: 100%;
    height: 100px;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1rem;
}

.comment-form button {
    background-color: #28a745;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.comment-form button:hover {
    background-color: #561506;
}


@media (max-width: 768px) {
    .thread-list {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 480px) {
    .thread-list {
        grid-template-columns: 1fr;
    }
}